.home {
    width: 100%;
    height: 100%;
}

#response {
    position: fixed;
    width: 90%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
}

#response p {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#processwidget {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}



#inputcontainer {
    color: black;
    position: absolute;
    width: 90%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}